{%- comment -%} This include renders a list of items from the specified
collection. Usage: {% include collection_list.html collection="emne" %} {%-
endcomment -%}

<section class="collection-list">
  {% assign collection = site[include.collection] | sort: "order" %} {% for item
  in collection %}
  <article class="collection-item" style="padding-bottom: 2em">
    <h2>{{ item.title | default: "[Ingen titel]" }}</h2>
    <p>{{ item.description | default: "[Ingen beskrivelse]." }}</p>
    <a href="{{ item.url | relative_url }}">Læs mere</a>
  </article>
  {% endfor %}
</section>
